.calculator {
    width: 300px;
    margin: 0 auto;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
 }
 
 input[type="text"] {
    width: 92%;
    padding: 10px;
    margin-bottom: 10px;
 }
 
 .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
 }
 
 button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
 }
 
 .row:last-child {
    grid-template-columns: repeat(2, 1fr);
 }
 
 